<!DOCTYPE html>
<html>
<head>
    <title>Lista de Pacientes</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Lista de Pacientes</h1>
        <table>
            <tr>
                <th>Nome</th>
                <th>Tipo Sanguíneo</th>
                <th>Exames</th>
            </tr>
            <tr>
                <td>Diana adsfsdfasdfasd</td>
                <td>A+</td>
                <td><a href="/api/patient/exam/patient_id">Ver exames</a></td>
            </tr>
            <tr>
                <td>Larissa</td>
                <td>O+</td>
                <td><a href="/api/patient/exam/patient_id">Ver exames</a></td>
            </tr>
        </table>
        <button class="button" onclick="window.location.href='/'">Voltar</button>
    </div>
</body>
</html>
