<!DOCTYPE html>
<html>
<head>
    <title>Exames de Sangue</title>
</head>
<body>
    <h1>Exames de Sangue</h1>
    <p>A blockchain é válida: {{ is_valid }}</p>
    <ul>
    {% for block in blocks %}
        <li>
            <h2>Bloco #{{ block.index }}</h2>
            <p>Timestamp: {{time.strftime('%d/%m/%Y %H:%M:%S', time.localtime(block.timestamp))}}</p>
            <p>Hash anterior: {{ block.previous_hash }}</p>
            <p>Dados: {{ block.data }}</p>
            <p>Hash: {{ block.hash }}</p>
            <button class="delete-button" data-index="{{ block.index }}">Deletar</button>
        </li>
    {% endfor %}
    </ul>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function() {
        $('.delete-button').click(function() {
            var index = $(this).data('index');
            $.ajax({
                url: '/blocks/' + index,
                type: 'DELETE',
                success: function(result) {
                    alert(result.message);
                    location.reload();
                }
            });
        });
    });
    </script>
</body>
</html>
